@CHARSET "UTF-8";

#textArea {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 75%;
	height: 260px;
	background-color: red;
}

#msg_content {
	border: 2px solid rgb(25,138,241);;
	height: 260px;
	width: 100%;
	font-size: 26px;
}

#send {
	width: 250px;
	float:right 
}

.button {
	background-color: rgb(25,138,241);
	border: none;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 115px;
	height:45px;
}